<div class="container">

  <!-- This bit should go in index.html for a multi-page app. -->
  <div class="row page-header">
    <div class="col-3 logo-wrapper">
      <!-- Logo -->
      <img src="../assets/img/logo.jpg" class="logo-img"/>
    </div>
    <div class="col-9">
      <div class="row title-wrapper">
        <!-- Title -->
        <h2>{{ title }}</h2>
      </div>

      <div class="row menu-wrapper">
        <!-- Menu -->
        <ul class="menu">
          <li>Moodslider</li>
          <li>Upload Content</li>
        </ul>
      </div>
    </div>
  </div>

  <sliders></sliders>



</div>

<router-outlet></router-outlet>
