.programmes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.error {
  width: 100%;
  text-align: center;

  h3 {
    text-align: center;
  }
}
